[mysqld] 
character-set-server = utf8mb4 
collation-server = utf8mb4_bin 
init_connect='SET NAMES utf8mb4'
default-storage-engine=INNODB
wait_timeout=86400
interactive_timeout=86400

[client] 
default-character-set = utf8mb4

[mysql] 
default-character-set = utf8mb4